{% extends "layout.html" %}
{% load static %}
{% block title %}Odoo ERP Professional Services{% endblock %}
{% block content %}
<style>
.hero-banner {
  position: relative;
  background: url("{% static 'images/pexels-hillaryfox-1595387.jpg' %}") center center/cover no-repeat;
  height: 70vh;
  display: flex;
  align-items:end;
  justify-content:start;
  color: white;
 
}
.hero-overlay {
  position: absolute;
  top: 0; left: 0;
  right: 0; bottom: 0;
  background: rgba(0, 0, 0, 0.55);
}
.hero-content {
  position: relative;
  z-index: 2;
}
.hero-content h1 {
  font-size: 2.5rem;

}
.hero-content p {
  font-size: 1.25rem;
}
.breadcrumb { background: transparent;  gap:2px; font-size:1.2rem; color: #f0f0f0; }
.breadcrumb a { color: #f0f0f0; text-decoration: none; font-weight: 500; }
.breadcrumb a:hover { color: #ffd369; }
.breadcrumb .active { color: #ccc; }
</style>

<section class="hero-banner">
  <div class="hero-overlay"></div>
  <div class="hero-content container mb-4">
    <h1 class="fw-bold">Odoo ERP Professional Services</h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'consulting_app:home_two' %}">Home</a></li>
        <li><a href="{% url 'consulting_app:odoo_service' %}">|Odoo ERP Professional  Service</a></li>  
    </ol>
  </div>
</section>


<section class="py-5">
  <div class="container">
    <div class="row me-0">
      <div class="col-lg-6 mx-auto">
        <h2 class="fw-bold mb-3">
          Driving Long-Term Success Through Expert Odoo Services
        </h2>
        <p class="text-muted">
          At NKCL, delivering professional services and ongoing support is more than a responsibility—it’s a cornerstone of our commitment to your sustained success. 
          Our certified Odoo specialists bring deep product expertise and proven business process knowledge to offer a comprehensive suite of services, including 
          <strong>consulting, training, implementation, custom development, maintenance, and cloud solutions</strong>
          With years of best-practice experience, our experts ensure you extract maximum value from your Odoo investment—accelerating deployment timelines and enabling faster realization of business benefits. 
          From initial setup to long-term optimization, NKCL’s team is dedicated to keeping your Odoo environment running smoothly, efficiently, and cost-effectively throughout its lifecycle.
        </p>
      </div>
      <div class="col-lg-6 text-center">
        <h2 class="fw-bold mb-4">Our Odoo Services</h2>
        <img src="{% static 'images/odoo-imple.png' %}" 
             alt="Odoo Project Management" 
             class="img-fluid shadow rounded p-3 bg-white"
             style="max-width: 550px;">
      </div>
    </div>
  </div>
</section>

{% endblock %}
