{% extends "layout.html" %}
{% load static %}
{% block title %}Odoo support{% endblock  %}
{% block content %}
<div class="container">
    <div class="row me-0">
        <div class="odoo-support">
            <h1>Flexible, Secure, and Scalable Odoo Cloud Services</h1>
            <p>NKCL delivers robust Cloud services for Odoo solutions, offering businesses a fast, low-risk path to harness advanced software capabilities. By leveraging Amazon EC2 infrastructure, clients gain access to cutting-edge functionality—without the upfront costs of hardware or software investments.
Unlike traditional SaaS deployments where multiple users share a common instance and database, NKCL’s Odoo on Cloud provides a dedicated, secure environment tailored exclusively for your organization. This ensures greater flexibility to customize, scale, and upgrade your solution in alignment with your unique business needs.
Our team is committed to managing and optimizing your Odoo Cloud deployment—ensuring it remains secure, efficient, and fully aligned with your operational goals
</p>
        </div>
    </div>
</div>
<div class="odoo">
    <h1>Our Project Management Methodology</h1>
    <img src="{% static 'images/odoo.png' %}">
</div>
<div class="hightlight container">
    <h1>Highlights</h1>
    <p>Per user license subscription</p>
    <p>Low monthly investment</p>
    <p>Managed services</p>
    <p>Single point of contact</p>
    <p>On Demand Customization</p>
    <p>Ready to use Integration</p>
    <p>Seem less upgrades</p>
    <p>Secured private instance</p>
    <p>Support Desk 24/7</p>
    <p>Transparent service delivery</p>
</div>








{% endblock  %}